<script src="main.js"></script>
    <main>
        <section class="first-section">
            <div class="content">
                <h1>
                    <span class="heading-with-icon">
                        <img class="img-profile" src="https://img1.picmix.com/output/stamp/normal/9/6/1/6/1386169_4f1a6.gif" alt="Maria Helena">
                        Olá!
                    </span>
                </h1>
                
                <h2 style="color: #af9797;"> Eu sou a <strong>Maria Helena</strong></h2>
                <p>Estou completando 1 aninho no dia <strong>16</strong> de fevereiro.</p>
                <button type="button" id="abrirModal" class="btn-action link-action" (click)="abrirModal()">Convite</button>

                <!-- Modal -->
                <div [ngClass]="{'modal': true, 'show': modalVisivel}" id="modal">
                <div class="modal-content">
                    <span (click)="fecharModal()" id="closeModal" class="close">&times;</span>
                    <h2>Bem-vindo!</h2>
                    <p>Insira o código do seu convite</p>
                    <input type="text" id="codigoConvite" placeholder="YTCXFC45" />
                    <a  class="btn-action link-action" id="entrarBtn" (click)="entrar()">Entrar</a>
                </div>
                </div>

                <span class="msg-contagem">CONTAGEM REGRESSIVA 🥳</span>
                <div id="contador">
                    <div class="tempo">
                      <span class="valor dia">{{ dias }}</span>
                      <div class="separador">DIAS</div>                      
                    </div>
                    <div class="separador">:</div>
                    
                    <div class="tempo">
                      <span class="valor hora">00</span>
                      <div class="separador">HORAS</div>
                    </div>
                    <div class="separador">:</div>
                    <div class="tempo">
                      <span class="valor minuto">00</span>
                      <div class="separador">MIN.</div>
                    </div>
                    <div class="separador">:</div>
                    
                    <div class="tempo">
                      <span class="valor segundo">00</span>
                      <div class="separador">SEG.</div>
                    </div>
                  </div>
                  
            </div>
            
        </section>
