<section class="second-section">
    <div class="titulo">
        Aniversário de Maria Helena
    </div>
    <div class="content-second">        
        <p>É com muito carinho que nós pais viemos convidar você e sua família dia <strong>16/02/2025</strong> a partir das <strong>16:00</strong> horas, término às <strong>20:00</strong> horas.</p>
        <p>A agradecer ao Senhor e comemorar 1° aninho de nossa filha <strong>Maria Helena</strong> na casa de festas <strong>VillaKids</strong>. Será uma tarde abençoada por Deus.</p>
    </div>
</section>